<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户总数--layui后台管理模板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all"/>
    <link rel="stylesheet" href="/static/css/user.css" media="all"/>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
        </div>
        <a class="layui-btn search_btn">区域查询</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal source_btn">来源查询</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-danger detail_btn">具体查询</a>
    </div>
</blockquote>
<blockquote class="layui-elem-quote news_search1">
        <div class="layui-inline">
            <label class="layui-form-label" style="font-size: medium">区域</label>
            <div class="layui-input-inline">
                <input type="text" value="" placeholder="请输入关键字" class="layui-input input1">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="font-size: medium">来源</label>
            <div class="layui-input-inline">
                <div class="layui-form component">
                    <select class="input2" name="modules" lay-verify="required" lay-search="">
                        <option value="">直接选择或搜索选择</option>
                        <option>携程</option>
                        <option>同程</option>
                        <option>艺龙</option>
                    </select>
                </div>
<!--                <input type="text" value="" placeholder="请输入关键字" class="layui-input">-->
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" style="font-size: medium">爬取页数</label>
            <div class="layui-input-inline">
                <input type="text" value="" placeholder="请输入关键字" class="layui-input input3">
            </div>
        </div>
        <a class="layui-btn layui-btn-normal crawlHotel">爬取</a>
</blockquote>
<form id="pageCondition">
    <input type="hidden" value="1" name="page">
    <input type="hidden" value="13" name="pageSize">
</form>
<div class="layui-form users_list">
    <table class="layui-table">
        <colgroup>
            <col width="50">
            <col>
            <col width="18%">
            <col width="8%">
            <col width="12%">
            <col width="12%">
            <col width="18%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
            <th>酒店名称</th>
            <th>地址</th>
            <th>价格</th>
            <th>评论数</th>
            <th>来源</th>
            <th>爬取时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="users_content"></tbody>
    </table>
</div>
<div id="page"></div>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/page/user/allUsers.js"></script>
</body>
</html>