<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>旅游资讯--旅游网站</title>
    <link rel="stylesheet" href="../../static/io/css/column.css">
    <link rel="stylesheet" href="../../static/io/css/basic.css">
</head>
<body>
<header>
    <nav id="nav">
        <div id="logo"><img src="../../static/io/img/logo.png" alt=""></div>
        <ul>
            <!--<li><a href="index.html">首页</a></li>
            <li><a href="informations.html">旅游资讯</a></li>
            <li class="active"><a href="ticket.html">酒店订购</a></li>
            <li><a href="scenery.html">景点资讯</a></li>
            <li><a href="about.html">公司简介</a></li>-->

            <li><a href="scenery.html">首页</a></li>
            <li><a href="informations.html">旅游资讯</a></li>
            <li class="active"><a href="ticket.html">酒店订购</a></li>
            <li><a href="index.html">景点资讯</a></li>
            <li class="layui-nav-item">
                <a href="/" th:if="${session.loginUser}==null">
                    <cite th:text="请登录"></cite>
                    <!--                    ${session.loginUser.userName}-->
                </a>
                <a href="/user/userInfo" th:if="${session.loginUser}!=null">
                    <cite th:if="${session.loginUser.userName}!=null" th:text="你好+' '+${session.loginUser.userName}"></cite>
                    <cite th:if="${session.loginUser.userName}==null" th:text="你好+' '+${session.loginUser.name}"></cite>
                    <!--                    ${session.loginUser.userName}-->
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="search">
    <div class="center"></div>
    <input class="input2" type="text" placeholder="请输入旅游景点或城市" id="searchtext">
    <div class="button searchBtn">
        搜索
    </div>
</div>
<div id="container">
    <article class="list information">
        <div class="infos">
            <ul class="infos_left">
                <li><a href="">为您推荐</a></li>
            </ul>
            <ul class="infos_right">
                <li><a class="price" id="pricefirst">价格优先</a></li>
            </ul>

        </div>
        <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
        <script src="/static/layui/layui.all.js" charset="utf-8"></script>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
        <script>
            function loaddata()
            {
                $.ajax({
                    //访问后台的路径
                    url: "/load_hotel",
                    dataType:"json",
                    contentType: "application/json;charset=utf-8",
                    type: 'post',//指定提交方式为post
                    success: function(data) {
                        var jsonData = JSON.stringify(data);
                        var spotlist = {};
                        jQuery.each(JSON.parse(jsonData),function(i,item){
                            spotlist[i] = item;
                        });
                        dataHtml='';
                        for (var i=0;i<9;i++){
                            dataHtml+='<figure class="tour">'
                                +'<img src="../../static/io/img/tour'+(i+1)+'.jpg" alt="">'
                                + '<figcation class="description">'
                                + '<h3> '+ spotlist[i].hotelName +'</h3>'
                                + '<p>'+spotlist[i].hotelLocation+'</p>'
                                +'<ol><li><mark>'+'推荐'+'</mark>'+spotlist[i].recommend+'推荐'+'</li>'
                                +'<li><mark>'+'已售'+'</mark>'+spotlist[i].commentNumber+'人已入住'+'</li>'
                                +'<li><mark>'+'城市'+'</mark>'+spotlist[i].area+'</li>'
                                +'</ol>'
                                +'<div class="buy">'+'<div class="price">'+'￥'+'<strong>'+spotlist[i].price+'</strong>'+'</div>'
                                +'<div class="reserve">'+'<a href="' + spotlist[i].targetUrl + '" target="_blank">'+'立即预定'+'</a>'+'</div>'
                                +'</div>'
                                +'<div class="disc">'+'<span>'+spotlist[i].comprehensive+'分'+'</span></div>'
                                +'<div class="footer">'+'酒店信息由'+spotlist[i].source+'提供'+'</div>'
                                +'</figcaption>'
                                +'</figure>'
                        }
                        $(".spotShow").html(dataHtml);
                    }
                });
            }
            window.onload = loaddata;

            $(".searchBtn").click(function () {
                var index = layer.msg('查询中，请稍候', {icon: 16, time: false, shade: 0.8});
                setTimeout(function () {
                    tosubmit(1,0);
                    toPage();
                    layer.close(index);
                }, 4000);
            });

            var pageIndex = 1;
            var pageSize = 9;
            var currentPageIndex = 1;
            var recordCount = 0;
            var spotlist = new Array();

            function tosubmit(cur,flag){
                var textstr = document.getElementById("searchtext").value;
                // var typestr = document.getElementById("searchtype").value;
                if (textstr == "" || textstr == null) {
                    return;
                }
                var searchList = new Array();
                searchList.push({text: textstr, yehao: cur,flag: flag});
                $.ajax({
                    //访问后台的路径
                    url: "/onclick_searchhotel",
                    //将数据通过函数转换
                    data: JSON.stringify(searchList),
                    dataType: "json",//指定数据类型为JSON
                    // 指定类型，不然会报错，无法解析提交类型
                    contentType: "application/json;charset=utf-8",
                    type: 'post',//指定提交方式为post
                    async:false,
                    success: function (data) {
                        pageIndex = data.pageNum;
                        console.log(data.total);
                        recordCount = data.total;
                        if (data.list != null) {
                            getListInfo(data.list);
                        }
                    }
                });
            }

            function getListInfo(data){
                var jsonData = JSON.stringify(data);

                jQuery.each(JSON.parse(jsonData), function (i, item) {
                    spotlist[i] = item;
                });
                dataHtml='';
                for (var i=0;i<9;i++){
                    dataHtml+='<figure class="tour">'
                        +'<img src="../../static/io/img/tour'+(i+1)+'.jpg" alt="">'
                        + '<figcation class="description">'
                        + '<h3> '+ spotlist[i].hotelName +'</h3>'
                        + '<p>'+spotlist[i].hotelLocation+'</p>'
                        +'<ol><li><mark>'+'推荐'+'</mark>'+spotlist[i].recommend+'推荐'+'</li>'
                        +'<li><mark>'+'已售'+'</mark>'+spotlist[i].commentNumber+'人已入住'+'</li>'
                        +'<li><mark>'+'城市'+'</mark>'+spotlist[i].area+'</li>'
                        +'</ol>'
                        +'<div class="buy">'+'<div class="price">'+'￥'+'<strong>'+spotlist[i].price+'</strong>'+'</div>'
                        +'<div class="reserve">'+'<a href="' + spotlist[i].targetUrl + '" target="_blank">'+'立即预定'+'</a>'+'</div>'
                        +'</div>'
                        +'<div class="disc">'+'<span>'+spotlist[i].comprehensive+'分'+'</span></div>'
                        +'<div class="footer">'+'酒店信息由'+spotlist[i].source+'提供'+'</div>'
                        +'</figcaption>'
                        +'</figure>'
                }
                $(".spotShow").html(dataHtml);
            }

            function toPage() {
                layui.use(['laypage', 'layer'], function(){
                    var laypage = layui.laypage
                        ,layer = layui.layer;
                    //总页数大于页码总数
                    laypage.render({
                        elem: 'page'
                        ,layout: ['count', 'prev', 'page', 'next' ]
                        ,count: recordCount //数据总数
                        ,jump: function(obj,first){
                            console.log(obj);
                            pageIndex = obj.curr;
                            if(!first){ //一定要加此判断，否则初始时会无限刷新
                                if(document.getElementById("pricefirst").className == 'selected'){
                                    tosubmit(obj.curr,1);//一定要把翻页的ajax请求放到这里，不然会请求两次。
                                }
                                else{
                                    tosubmit(obj.curr,0);
                                }
                            }
                        }
                    });
                })
            }

            $(function () {
                $(".price").click(function () {
                    $(this).removeClass("price");
                    $(this).addClass("selected");
                     tosubmit(1,1);
                     toPage();
                });

            });

        </script>
        <div class = "spotShow"></div>
        <div id="page"></div>

        <div class="more" onclick="loaddata()">换一换</div>
    </article>
    <aside class="sidebar">
        <div class="recommend sidebox">
            <h3>景点推荐</h3>
            <div class="tag">
                <ul>
                    <li><a href="###">曼谷(12)</a></li>
                    <li><a href="###">东京(5)</a></li>
                    <li><a href="###">西双版纳(8)</a></li>
                    <li><a href="###">漓江(16)</a></li>
                    <li><a href="###">呼伦贝尔(4)</a></li>
                    <li><a href="###">首尔(9)</a></li>
                    <li><a href="###">巴厘岛(15)</a></li>
                    <li><a href="###">土耳其(22)</a></li>
                    <li><a href="###">夏威夷(5)</a></li>
                    <li><a href="###">巴厘岛(11)</a></li>
                    <li><a href="###">毛里求斯(7)</a></li>
                    <li><a href="###">吉普岛(4)</a></li>
                    <li><a href="###">希腊(18)</a></li>
                    <li><a href="###">法瑞意(8)</a></li>
                    <li><a href="###">马尔代夫(9)</a></li>
                    <li><a href="###">新西兰(16)</a></li>
                    <li><a href="###">埃及(11)</a></li>
                    <li><a href="###">迪拜(14)</a></li>
                    <li><a href="###">斯里兰卡(7)</a></li>
                    <li><a href="###">麦哈顿(3)</a></li>
                    <li><a href="###">大阪(15)</a></li>
                </ul>
            </div>
        </div>
        <div class="hot sidebox">
            <h3>热门旅游</h3>
            <div class="figure">
                <figure>
                    <img src="../../static/io/img/hot1.jpg" alt="曼谷-芭提雅6日游">
                    <figcaption>曼谷-芭提雅6日游</figcaption>
                </figure>
                <figure>
                    <img src="../../static/io/img/hot2.jpg" alt="马尔代夫双鱼6日游">
                    <figcaption>马尔代夫双鱼6日游</figcaption>
                </figure>
                <figure>
                    <img src="../../static/io/img/hot3.jpg" alt="海南双飞5日游">
                    <figcaption>海南双飞5日游</figcaption>
                </figure>
                <figure>
                    <img src="../../static/io/img/hot4.jpg" alt="富山大阪东京8日游">
                    <figcaption>富山大阪东京8日游</figcaption>
                </figure>
            </div>
        </div>
        <div class="treasure sidebox">
            <h3>旅游百宝箱</h3>
            <div class="box">
                <a href="" class="trea1">天气预报</a>
                <a href="" class="trea2">火车票查询</a>
                <a href="" class="trea3">航空查询</a>
                <a href="" class="trea4">地铁线路查询</a>
            </div>
        </div>
    </aside>
</div>

<footer id="footer">
    <div class="top">
        <div class="block middle">
            <h3>合作伙伴</h3>
            <hr>
            <ul>
                <li><a target="_blank" href="https://www.ly.com/">同程旅游网</a></li>
                <li><a target="_blank" href="https://www.elong.com/">艺龙旅游网</a></li>
                <li><a target="_blank" href="https://www.ctrip.com/">携程旅游</a></li>
            </ul>




        </div>
        <div class="bottom">Copyright © 1616301</div>
    </div>
</footer>
</body>
</html>