<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p th:text="'欢迎：' + ${name}"/>
</div>
<table border="1" bgcolor="#f0ffff">
    <thead>
    <tr>
        <th>借阅时间</th>
        <th>标题</th>
        <th>作者</th>
    </tr>
    </thead>
    <tbody th:each="book : ${list}">
    <tr>
        <td th:text="${book.data}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>