<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javacrawler.mapper.HotelMapper">
    <!--    <resultMap id="Hotels" type="com.example.javacrawler.entity.Hotel">-->
    <!--        <id column="hotelId" property="HotelId"/>-->
    <!--        <result column="hotelName" property="HotelName"/>-->
    <!--        <result column="hotelcountry" property="HotelCountry"/>-->
    <!--        <result column="hotelLocation" property="HotelLocation"/>-->
    <!--        <result column="comprehensive" property="Comprehensive"/>-->
    <!--        <result column="commentNumber" property="CommentNumber"/>-->
    <!--    </resultMap>-->

    <select id="select" parameterType="java.util.Map" resultType="com.example.javacrawler.entity.Hotel">
        SELECT * FROM hotel
        <where>
            <if test="param.hotelId!=null">
                and hotelId=#{param.hotelId}
            </if>
        </where>
    </select>

    <update id="updateHotel" parameterType="com.example.javacrawler.entity.Hotel">
        update hotel
        set hotelName=#{HotelName},
            hotelcountry=#{HotelCountry},
            hotelLocation=#{HotelLocation},
            comprehensive=#{Comprehensive},
            commentNumber=#{CommentNumber},
            price=#{Price},
            recommend=#{Recommend},
            source=#{Source},
            url=#{TargetUrl},
            area=#{area}
        where hotelId=#{HotelId}
    </update>

    <insert id="insetHotel" parameterType="com.example.javacrawler.entity.Hotel">
        insert into hotel
            (hotelName,hotelId,hotelcountry,hotelLocation,comprehensive,commentNumber,price,recommend,source,url,area)
        values (#{HotelName},#{HotelId},#{HotelCountry},#{HotelLocation},
        #{Comprehensive},#{CommentNumber},#{Price},#{Recommend},#{Source},#{TargetUrl},#{area})
    </insert>
</mapper>