<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javacrawler.mapper.SpotMapper">

    <resultMap id="spot" type="com.example.javacrawler.entity.Spot">
        <id column="spotId" property="SpotId"></id>
        <result column="spotName" property="SpotName"/>
        <result column="spotCountry" property="SpotCountry"/>
        <result column="spotScore" property="SpotScore"/>
        <result column="soldNumber" property="SoldNumber"/>
        <result column="spotLocation" property="SpotLocation"/>
        <result column="recommend" property="Recommend"/>
        <result column="source" property="Source"/>
        <result column="url" property="SpotUrl"/>
        <result column="area" property="SpotArea"/>
        <result column="spotPrice" property="SpotPrice"/>
        <result column="introduce" property="Introduce"/>
    </resultMap>

    <select id="select" parameterType="java.util.Map" resultType="com.example.javacrawler.entity.Spot">
        SELECT * FROM spot
        <where>
            <if test="param.spotId!=null">
                and spotId=#{param.spotId}
            </if>
        </where>
    </select>

    <update id="updateSpot" parameterType="com.example.javacrawler.entity.Spot">
        update spot
        set spotName=#{SpotName},
            spotCountry=#{SpotCountry},
            spotLocation=#{SpotLocation},
            spotScore=#{SpotScore},
            soldNumber=#{SoldNumber},
            spotPrice=#{SpotPrice},
            recommend=#{Recommend},
            source=#{Source},
            url=#{SpotUrl},
            area=#{SpotArea},
            introduce=#{Introduce}
        where spotId=#{SpotId}
    </update>

    <insert id="insertSpot" parameterType="com.example.javacrawler.entity.Spot">
        insert into spot
            (spotName,spotId,spotCountry,spotLocation,spotScore,soldNumber,spotPrice,recommend,source,url,area,introduce)
        values (#{SpotName},#{SpotId},#{SpotCountry},#{SpotLocation},
        #{SpotScore},#{SoldNumber},#{SpotPrice},#{Recommend},#{Source},#{SpotUrl},#{SpotArea},#{Introduce})
    </insert>

    <select id="getSpotByNameAndSource" parameterType="java.util.Map" resultType="com.example.javacrawler.entity.Spot">
        SELECT * FROM spot
        <where>
            <if test="param.spotName!=null">
                and spotName=#{param.spotName} and source=#{param.spotSource}
            </if>
        </where>
    </select>



    <select id="selectList" resultMap="spot">
        SELECT *
        from spot
        <where>
            <if test="param.area!='' and param.area != null">
                and area=#{param.area}
            </if>
            <if test="param.source!='' and param.source != null">
                and source=#{param.source}
            </if>
        </where>
        <choose>
            <when test="param.order=='desc'">
                order by spotId desc
            </when>
            <otherwise>
                <if test="param.order=='seq'">
                    order by spotId
                </if>
                <if test="param.order=='' ">
                    order by spotId desc
                </if>
            </otherwise>
        </choose>
    </select>

    <delete id="delete" parameterType="java.util.Map">
        delete from spot
        <where>
            <if test="param.spotId !='' and param.spotId!=null">
                and spotId=#{param.spotId}
            </if>
        </where>
    </delete>

    <select id="searchSpot" parameterType="java.util.Map" resultMap="spot">
        select * from spot
        <if test="param!=null">
            <where>
                <if test="param.size!='' and param.size!=null">
                    <choose>
                        <when test='param2=="2"'>
                            and source = #{param.input}
                        </when>
                        <when test='param2=="1"'>
                            and area = #{param.input}
                            <if test="param.source!='' and param.source!=null">
                                and source = #{param.source}
                            </if>
                        </when>
                        <otherwise>
                            and (spotName like CONCAT(CONCAT('%', #{param.input, jdbcType=VARCHAR}),'%')
                            or spotLocation like CONCAT(CONCAT('%', #{param.input, jdbcType=VARCHAR}),'%'))
                        </otherwise>
                    </choose>
                </if>
            </where>
        </if>
        order by spotId desc
    </select>
</mapper>